.mainbody{
    padding: 15px;
    background-color: #BADFE7;
}

.mainhead{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.content{
    font-size: x-large;
    font-family: cursive;
}

.col-12{
    text-align: center;
}

input[type="number"]{
    background-color: #6FB3B8;
}

input[type=text]{ 
    background-color: #6FB3B8;
}

input[type=email]{
    background-color: #6FB3B8;
}

.form-control {
    background-color: #6FB3B8; /* replace with the color of your choice */
  }

input:focus{
    border: 4px solid #99c2b3;
}